.container{
    
    height: 590px;
    background: #484283;
}
.content{
    width: 1180px;
    // width: 100%;
    background-image: url("../../assets/back_text.png");
    background-repeat: no-repeat;
}
.textH1{
    height: 100px;
    text-align: left;
}
.text{
    height: 48px;
    text-align: left;
}