@import '../../variables.scss';
.container{
  height: 590px;
  background-color: #484283;
}
.content{
    margin: 0 auto;
    max-width: 1180px;
    padding-top: 140px;
    background-image: url("../../assets/back_text.png");
    background-repeat: no-repeat;
    background-position: center top 260px;
    display: flex;
    flex-flow: column;
   
}
.textH1{
    padding-top: 27px;
    height: 100px;
    text-align: left;
    @include font(#fff, Jost, 36px, normal, 500, 51px, -1px);
    //font-size: clamp(15px, 2vw, 20px);
}
.text{
    margin: 0;
    height: 48px;
    text-align: left;
    @include font(#fff, Jost, 18px, normal, bold, 25px, -1px);
    //font-size: clamp(15px, 2vw, 20px);
}
@media (max-width: 550px){
    .text{
      margin-top: 30px;
    }
  } 
.button{
    margin-top: 30px;
    width: 207px;
    height: 62px;
    background-color: #F14F4F;
    border-radius: 5%;
    color: #ffffff;
}